<html>
<head>
    <meta charset="UTF-8">
    <title>LemmeKnow Notifications</title>
</head>
<body>

<p>Привет, <b>${username}</b>!</p>

<p>Интересующее вас событие было удаленно!</p>

<p>Спасибо</p>
<a href="http://lemmeknow.tk">lemmeknow.tk</a>
</body>
</html>